$brand--primary: var(--e-global-color-primary);
$brand--secondary: var(--e-global-color-secondary);
$brand--accent: var(--e-global-color-accent);
$brand--tertiary: var(--e-global-color-22ddcc9);

// Generic colors
$white: #ffffff;
$black: #000000;
$grey: #666666;
$light-grey: #f1edf0;
$dark-grey: #999999;

// Bootstrap Default Colors
$bootstrap-blue: #0275d8;
$bootstrap-light-blue: #5bc0de;
$bootstrap-green: #5cb85c;
$bootstrap-orange: #f0ad4e;
$bootstrap-red: #d9534f;
$bootstrap-grey: #dddddd;
$bootstrap-black: #292b2c;
