$f-Assistant: var(--e-global-typography-primary-font-family);
$f-Shippori: var(--e-global-typography-secondary-font-family);

@font-face {
  font-family: "Azo";
  src: url("../../fonts/AzoSans-Regular.woff2") format("woff2"),
    url("../../fonts/AzoSans-Regular.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
