.shortlist__btns {
    .tpj_add_to_shortlist,
    .tpj_remove_from_shortlist {
        cursor: pointer;

        svg {
            fill: blue;
            width: 30px;
            height: 30px;
        }
    }
}
